<!doctype html>
<html lang="en">
	<Head>
		<title>Initial</title> 
	</Head>

	<body>
		<!--  <form method="post" action="/">-->
			<div>
				Bet:
					$<input autofocus type="number" id="bet" name="bet" placeholder="100">
						<br>
				Balance:
					$<input type="number" id="bet" name="balance">
<br>

				<form action="/play" method="post">
					<button>Play</button>
				</form>
				
<!--				<form action="/hit" method="post">
					<button>Hit</button>
				</form>
				
				<form action="/stand" method="post">
					<button>Stand</button>
				</form>
-->				
			</div>
		<!--</form>-->
		
	</body>
	
</html>