<!doctype html>
<html>
  <head>
	<title>BlackJack</title>
	<style>
	h1 {text-align: left;}
	div {
		display: block;
		text-align: left;
	}

	body {
  	background: green;
  	font-size: 80%;
  	padding: 20px;
	}

	main {
  	position: relative;
  	background: white;
  	height: 5px;
  	width: 30%;
   	margin: 0 auto;
  	padding: 20px;
  	resize: both;
  	overflow: auto;
 	}
	</style>    
  </head>
  
	<body>
	<form method="post" action="blackjack/game/start">
		<button>Start</button>	
	</form>

	</body>
</html>